<!DOCTYPE html>
<html lang="en">
<head th:replace="template/sub :: common_header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>비밀번호 수정</title>
    <style>
        .container-fluid {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        .form-group label {
            margin-right: 50px;
            white-space: nowrap;
            text-align: right;
        }

        .form-group input {
            width: 300px; /* 여기에 원하는 너비를 지정하세요 */
        }
    </style>
    <link>

</head>
<body th:replace="template/sub :: common_body(~{::div},'bg-body-tertiary','',true,true)">
<div class="container-fluid">
    <!-- Your main content here -->
    <main class="d-flex justify-content-center py-4">
        <div>
            <form th:object="${member}" th:action="@{/myinfo/passwordEdit/{id}(id=${member.id})}" method="post">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">전체 오류 메시지</p>
                </div>
                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label for="currentPassword" style="width: 150px;">현재 비밀번호</label>
                    <input type="password" id="currentPassword" class="form-control" th:field="*{currentPassword}"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{currentPassword}"></div>
                </div>

                <div class="form-group">
                    <label for="newPassword" style="width: 150px;">신규 비밀번호</label>
                    <input type="password" id="newPassword" class="form-control" th:field="*{newPassword}"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{newPassword}"></div>
                </div>

                <div class="form-group">
                    <label for="reNewPassword" style="width: 150px;">신규 비밀번호 재 입력</label>
                    <input type="password" id="reNewPassword" class="form-control" th:field="*{reNewPassword}"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{reNewPassword}"></div>
                </div>

                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-secondary mx-2" type="button"
                            th:onclick="|location.href='@{/myinfo/{id}(id=${member.id})}'|">취소
                    </button>
                    <button class="btn btn-primary mx-2" type="submit" th:text="#{button.success}">완료</button>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>
