<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/sub ::common_header(~{::title},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>등록 상품</title>
    <link href="/css/cover.css" rel="stylesheet">
    <link href="/css/post.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <style></style>
</head>
<body th:replace="template/sub :: common_body(~{::main},'','privateItem',${principal},true)">
<main>
    <hr class="my-3" style="width: 1200px; margin-left: 700px">
    <div style="width: 700px; margin-left: 800px; position: relative; top: -0px;">
        <form th:object="${deleteItem}" method="post" th:action="@{/item/myItem/delete}">
            <div style="display: flex; justify-content: space-between;">
                <h3>내 등록상품 수정</h3>
                <th:block th:if="${items.size()}!= 0">
                    <button type="submit" class="btn btn-danger">상품 삭제</button>
                </th:block>
                <th:block th:if="${items.size()}==0">
                    <button type="submit" class="btn btn-danger" disabled>게시판 삭제</button>
                </th:block>
            </div>
            <th:block th:if="${items.size()} != 0">
                <div th:each="item : ${items}">
                    <hr class="my-3" style="width: 700px;">
                    <div class="form-check form-check-inline">
                        삭제 <input type="checkbox" th:field="*{itemIds}" th:value="${item.id}"
                                  class="form-check-input">
                    </div>
                    <li class="question_container"
                        th:onclick="|location.href='@{/item/myItem/edit/{id}(id=${item.id})}'|">
                        <div style="display: flex; justify-content: space-between;">
                            <p style="white-space: nowrap;color: #555555;" th:text="${item.itemTag.description}">게시판
                                이름</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <h5 style="margin-right: 450px; white-space: nowrap;" th:text="${item.name}">제목</h5>
                        </div>
                        <p th:text="${item.content}">내용</p>
                        <img th:if="${item.imgFile != null and not #lists.isEmpty(item.imgFile)}" th:src="|/item/images/${item.imgFile[0].getStoreFileName()}|" width="300" height="300"/>
                        <footer style="display: flex; justify-content: space-between;">
                            <div style="color: #666666;">
                                게시자: <span th:text="${item.nickname}"> 작성자</span> | 작성일:
                                <time th:text="${#temporals.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}">2024-02-29
                                </time> | 좋아요: <span th:text="${item.likesCount}">0</span>
                            </div>
                        </footer>
                    </li>
                </div>
            </th:block>
            <th:block th:if="${items.size()} == 0">
                <h2 class="text-center" style="margin-top: 450px">
                    삭제 또는 수정할 상품이 없습니다.<br><br><br>
                    상품을 한번 등록해볼까요??
                </h2>
            </th:block>
        </form>
    </div>
</main>
</body>
</html>